:root {
  --text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-color: #212121;
  --light-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --button-hover-color: #188ce8;
  --border-color: #ececec;
  --decoration-color: #afb1b8;
  --card-border-color: #eeeeee;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.icon {
  display: block;
}

.accent {
  color: var(--accent-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.button {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: background-color 250ms var(--transition);
}

.button:hover, .button:focus {
  background-color: var(--button-hover-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.title-color {
  color: var(--title-color);
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  margin-left: 30px;
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition), visibility 250ms var(--transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms ease-in-out;
  width: 450px;
  max-height: 100%;
  overflow: auto;
  padding: 40px;
  background-color: var(--secondary-text-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 450px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop:not(.is-hidden) .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 0;
  border-radius: 50%;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

.application-form {
  display: flex;
  flex-direction: column;
}

.application-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .application-form-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.application-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.application-form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.application-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition);
}

.application-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.application-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.application-form-input:focus + .application-form-icon {
  fill: var(--accent-color);
}

.application-form-comment {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.application-form-textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition);
}

.application-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.application-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .application-form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}

.application-form-checkbox-wrap {
  position: relative;
  align-self: center;
  padding-left: 23px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .application-form-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}

.application-form-checkbox-label::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--transition);
}

.application-form-checkbox:checked + .application-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-color: var(--accent-color);
  background-origin: border-box;
  border: none;
}

.application-form-checkbox:focus + .application-form-checkbox-label::before {
  border: 2px solid var(--accent-color);
}

.accept-policy-link {
  color: var(--accent-color);
}

.application-form-btn {
  align-self: center;
  text-align: center;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.burger-btn__icon {
  width: 24px;
  height: 16px;
}

.burger-btn:hover .burger-btn__icon, .burger-btn:focus .burger-btn__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-text-color);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--transition), visibility 250ms var(--transition);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.close-btn__icon {
  width: 31px;
  height: 31px;
}

.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: var(--accent-color);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.nav-list {
  margin-bottom: 30px;
}

.nav-list__item:not(:last-child),
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms var(--transition);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
}

.mobile-menu__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu__email-link:hover, .mobile-menu__email-link:focus {
  color: var(--accent-color);
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

.mobile-menu__social-item {
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
}

.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__item:not(:first-child) {
  margin-left: 50px;
}

.menu__link {
  display: block;
  padding: 32px 0;
  color: var(--title-color);
  transition: color 250ms var(--transition);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
}

.menu__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contacts__link {
  color: inherit;
  transition: color 250ms var(--transition);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__icon--envelope {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon--smartphone {
    height: 16px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-bg-image@2x.jpg);
  }
}

.hero__title {
  max-width: 358px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-image.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-image@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg-image.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-bg-image@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.icon-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list-item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
}

.work-desc-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-members {
  background-color: var(--light-bg-color);
}

@media screen and (min-width: 768px) {
  .member-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.member-item {
  padding-bottom: 24px;
  background-color: var(--secondary-text-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .member-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .member-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .member-item {
    flex-basis: calc((100% - 120px) / 4);
    padding-bottom: 30px;
  }
}

.member-photo {
  margin-bottom: 30px;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.member-post {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:first-child) {
  margin-left: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  transition: background-color 250ms var(--transition);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--decoration-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--secondary-text-color);
}

.clients-list {
  justify-content: space-between;
}

.clients-list-item {
  height: 92px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--decoration-color);
  border-radius: 4px;
  transition: border 250ms var(--transition);
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list-icon {
  width: 106px;
  height: 60px;
  fill: var(--decoration-color);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

@media screen and (max-width: 1199px) {
  .footer-flex {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    width: 100%;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  transition: color 250ms var(--transition);
}

.footer-address {
  color: var(--secondary-text-color);
  transition: color 250ms var(--transition);
}

.footer-address:focus, .footer-address:hover {
  color: var(--accent-color);
}

.footer-contacts-list {
  font-style: normal;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--transition);
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
}

.label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .label {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-top: 15px;
    margin-left: 70px;
  }
}

.footer-social-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-social-list {
    justify-content: center;
  }
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--transition);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: var(--secondary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 15px;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.subscription-form-input {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.subscription-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscription-form-input {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1199px) {
  .subscription-form-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form-input {
    width: 358px;
  }
}

.subscription-form-btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscription-form-btn {
    margin-left: 12px;
  }
}

.subscription-form-icon {
  margin-left: 10px;
}

.gallery-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -8px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .gallery-btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-btn-list {
    margin-bottom: 50px;
  }
}

.gallery-btn-item {
  margin-left: 8px;
  margin-top: 15px;
}

.gallery-btn {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--light-bg-color);
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 250ms var(--transition), color 250ms var(--transition), box-shadow 250ms var(--transition);
}

.gallery-btn:focus, .gallery-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-item {
  display: flex;
  flex-basis: calc(100% - 30px);
  background-color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.gallery-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms var(--transition);
}

.gallery-link:hover, .gallery-link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-img-box {
  position: relative;
  overflow: hidden;
}

.gallery-popup-desc {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 250ms var(--transition), transform 250ms var(--transition);
}

.gallery-link:hover .gallery-popup-desc,
.gallery-link:focus .gallery-popup-desc {
  opacity: 1;
  transform: translateY(-100%);
}

.gallery-desc-wrapper {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: none;
}

.gallery-img-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.desc {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */