.clients-list {
  justify-content: space-between;
}

.clients-list-item {
  width: 170px;
  height: 92px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--decoration-color);
  border-radius: 4px;
  @include transition(border);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-list-icon {
  width: 106px;
  height: 60px;
  fill: var(--decoration-color);

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
