.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/mobile/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/mobile/hero-bg-image@2x.jpg);
    }
  }
}

.hero__title {
  max-width: 358px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  @include font(900, 26px, 1.62);
  letter-spacing: 0.06em;
}

@media screen and (min-width: $tablet) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/tablet/hero-bg-image.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../../images/tablet/hero-bg-image@2x.jpg);
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/desktop/hero-bg-image.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../../images/desktop/hero-bg-image@2x.jpg);
      }
    }
  }
  .hero__title {
    max-width: 696px;
    @include font(900, 44px, 1.36);
  }
}