.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-list-item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
}

.work-desc-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.work-desc {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
}