.section {
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 2px dashed orange;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.title-color {
  color: var(--title-color);
}
