:root {
    --text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-color: #212121;
    --light-bg-color: #f5f4fa;
    --dark-bg-color: #2f303a;
    --hero-bg-color: #c4c4c4;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --button-hover-color: #188ce8;
    --border-color: #ececec;
    --decoration-color: #afb1b8;
    --card-border-color: #eeeeee;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
  }